<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.cms.dao.extend.ArticleExtendMapper">
  <resultMap id="BaseResultArticle" type="com.briup.apps.cms.bean.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="publish_time" jdbcType="BIGINT" property="publishTime" />
    <result column="read_times" jdbcType="BIGINT" property="readTimes" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="thump_up" jdbcType="BIGINT" property="thumpUp" />
    <result column="thump_down" jdbcType="BIGINT" property="thumpDown" />
    <result column="author_id" jdbcType="BIGINT" property="authorId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>
  
  
  <resultMap id="BaseResultComment" type="com.briup.apps.cms.bean.Comment" >
    <id column="cid" jdbcType="BIGINT" property="id" />
    <result column="comment_time" jdbcType="BIGINT" property="commentTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  
  <resultMap id="BaseResultCategory" type="com.briup.apps.cms.bean.Category">
    <id column="gid" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  
  <resultMap type="com.briup.apps.cms.bean.extend.ArticleExtend" id="ArticleExtendMap" extends="BaseResultArticle">
  	<association property="category" resultMap="BaseResultCategory"></association>
  	<collection property="comments" resultMap="BaseResultComment"></collection>
  </resultMap>
  

  <!-- 一对多和一对一 -->
  <select id="selectAll" resultMap="ArticleExtendMap">
    select article.id,article.title,article.content,article.author_id,article.category_id,article.source,article.publish_time,
    category.id gid,category.name,category.description,category.no,
    comment.id cid,comment.comment_time 
    from 
    cms_article article left outer join cms_category category
    on article.category_id=category.id
    left outer join cms_comment comment on article.id = comment.article_id 
  </select>
  <!-- 根据id查 -->
  <select id="selectById" parameterType="Long" resultMap="ArticleExtendMap">
    select article.id,article.title,article.content,article.author_id,article.source,article.publish_time,category.id gid,category.name,category.description,category.no,comment.id cid,comment.comment_time from cms_article article left outer join cms_category category
    on article.category_id=category.id
    left outer join cms_comment comment on article.id = comment.article_id
    where article.id=#{id} 
  </select>
</mapper>